<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    body{
      background: rgb(159, 220, 255);
  }
    button {
      margin-top: 15px;
      padding: 10px;
    }
  </style>
  <body>
    <a href="http://localhost:8080/blog/"><button style="border: none; background: #1379ff; color: #ffffff;">Back</button></a>
    <h1 style="text-align: center">About us</h1>
    <p style="margin: 2rem 2rem; font-size: 1.5rem">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
      accusantium repudiandae eum quis harum. Laboriosam sapiente, harum velit
      ea totam provident porro debitis quos quia voluptas nemo incidunt optio
      vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. A repellat
      eligendi quae aperiam quisquam nesciunt repudiandae reprehenderit. Autem
      esse soluta vel, eveniet animi, dolorem ab quidem doloribus amet
      perspiciatis quis.
    </p>
   
  </body>
</html>
