<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <style>
    a{
      margin: 2rem;
    }
    button {
      margin-top: 15px;
      padding: 10px;
      font-size: 2rem;
    }
    button:hover{
      color: blueviolet;
      background: white;
    }
  </style>
  <body>
    <div style="display: flex; justify-content: center; align-items: center;">
      <div style="margin-top: 5rem; text-align: center;">
        <h1>Home</h1>
        <h2>Navbar</h2>
        <div style="margin: 3rem; display: flex; ">
          <a href="http://localhost:8080/blog/articles"><button>Blogs</button></a>
          <a href="http://localhost:8080/blog/about"><button>About</button></a>
          <a href="http://localhost:8080/blog/contact"
          ><button>Contact</button></a>
        </div>
      </div>
    </div>
  </body>
</html>
